
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


 
}

body {
  
  background: rgb(234,108,0);
  background: linear-gradient(0deg, rgba(234,108,0,1) 55%, rgba(7,130,183,1) 94%);
  background-repeat: no-repeat;
  height: 100%;
}

body, input, button {
  font-family: 'Jaldi', sans-serif;
  font-size: 1.2em;
  font-weight:600;

  
  
   /*600 18px 'Nunito', sans-serif;*/
}
