
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


 
}

body {
  
  background: rgb(178,119,217);
  background: linear-gradient(0deg, rgba(178,119,217,1) 59%, rgba(250,128,91,1) 94%);
  background-repeat: no-repeat;
  height: 100%;
}

body, input, button {
  font-family: 'Jaldi', sans-serif;
  font-size: 1.2em;
  font-weight:600;

  
  
   /*600 18px 'Nunito', sans-serif;*/
}
